<form id="data" method="post">
    <h4>Datos Personales</h4>
     <input name="foto-perfil" type="file" />
    <div class="form-group">
        <label for="nombre">Nombre y Apellidos</label>
        <input id="nombre" name="nombre"
            class="form-control" type="name"
            placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <input id="correo" name="correo"
            class="form-control" type="email"
            placeholder="Correo electrónico">
    </div>
    <div class="form-group">
        <label for="palabraSecreta">Contraseña</label>
        <input id="palabraSecreta" name="palabraSecreta"
            class="form-control" type="password"
            placeholder="Contraseña">
    </div>
    <div class="form-group">
        <label for="Telefono">Telefono</label>
        <input id="Telefono" name="Telefono"
            class="form-control" type=""
            placeholder="Telefono">
    </div>

    <h4>Datos Empresariales</h4>
    <div class="form-group">
        <label for="Categoria">Categoria</label>
        <input id="Categoria" name="Categoria"
            class="form-control" type="name"
            placeholder="Categoria">
    </div>
    <div class="form-group">
        <label for="Localidad">Localidad</label>
        <input id="Localidad" name="Localidad"
            class="form-control" type="name"
            placeholder="Localidad">
    </div>
    <div class="form-group">
        <label for="CP">CP</label>
        <input id="CP" name="CP"
            class="form-control" type="CP"
            placeholder="CP">
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input id="Descripcion" name="Descripcion"
            class="form-control" type="name"
            placeholder="Descripcion">
    </div>


   
    <button>Guardar</button>
</form>
