<div class='container'>  
    
    <div class="carr">
    <div class='col-12'>  
        <ngb-carousel class="carrousel">  
            <ng-template ngbSlide>  
                <img src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt="" class="img1">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow"></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt="" class="img1">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow"></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt=""class="img1">
                <div class="carousel-caption">  
                    <h3 style="color: yellow"></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt=""class="img1">  
                <div class="carousel-caption"><h3 style="color: yellow"></h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt=""class="img1">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow"></h3>  
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
  </div> 
</div>  
   
<!-- Events categories -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 1 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="https://rowlend.s3.eu-west-3.amazonaws.com/actor1.jpg" alt="Categoria 1">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 1</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 2 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 2">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 2</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 3 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 3">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 3</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 4 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 4">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 4</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 5 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 5">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 5</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 6 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 6">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 6</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 7 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 7">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 7</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 8 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 8">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 8</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 9 -->
            <a class="btn-events" href="eventos.html">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 9">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 9</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 10-->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 10">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 10</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 11 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 11">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 11</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-3 col-xl-3">
            <!-- Event Category 12 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-2 mr-2 ">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Categoria 12">
                    <div class="card-body">
                        <h5 class="card-title">Categoria evento 12</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<script src="../../../assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>