<html>
<head>
    <meta charset="utf-8">
    <title>Formulario de login con Bootstrap</title>
</head>

<body>
    <main role="main" class="container my-auto">
        <div class="row">
            <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
                col-12">
                <h2 class="text-center">Iniciar sesion</h2>
                

                <form>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input id="correo" name="correo"
                            class="form-control" type="email"
                            placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="palabraSecreta">Contraseña</label>
                        <input id="palabraSecreta" name="palabraSecreta"
                            class="form-control" type="password"
                            placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">
                        Entrar
                    </button>
                    <br>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
