button {
    background-color: #264470;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 30%;
}

.register-form1 {
    border: 1px solid #14181b;
    border-radius: 1%;
    margin: 1% 0%;
}

form {
    background-color: #acaba8;
}

.form-group {
    display: flex;
    align-content: center;
}

.container {
    padding: 16px;
}