<ng-template #content let-modal>
    <div class="modal-title ">
        <button class="close mt-2 mr-2" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-envio-mensaje class="new-message"></app-envio-mensaje>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-dark box-profile-user">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 mr-2 ml-2 mt-1">
                     <!--    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                            alt="Foto perfil usuario"> -->
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 mt-3 ml-3">
                        <img class="icon-search" src="../../../../assets/img/icons/light/search.png"
                            alt="Icono buscar correo">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6 p-3 mt-3 ml-3">
                        <button class="bg-white border-0 p-2 rounded-lg btn-new-message" type="button"
                            (click)="open(content)">Mensaje nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 bg-light box-message">
            <!--  <form class="mt-4 ml-4 mr-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Para:">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="cc" aria-describedby="emailHelp" placeholder="CC o CCO:">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="subject" aria-describedby="emailHelp"
                        placeholder="Asunto:">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="17"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Envíar</button>
            </form> -->
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div
                        class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-secondary h-100 rounded-lg p-2">
                        <h4 class="mt-3 ml-3 text-white">Nombre usuario</h4>
                        <h5 class="mt-3 ml-3 text-white">Asunto</h5>
                        <p class="mt-3 ml-3 text-light font-weight-light">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Eaque ipsa quas fuga exercitationem in? Itaque a iusto fugit debitis
                            laboriosam possimus dolorum corrupti maxime consequatur repudiandae nisi, nam deserunt
                            quibusdam?</p>
                    </div>
                    <button class="bg-dark text-white border-0 rounded-lg mt-2 p-2 ">Responder</button>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100 rounded-lg p-2">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark text-white">Envíar</button>
                            <button type="button" class="btn btn-danger ml-2">Descartar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-secondary box-contacts">
            <!-- Contact 1 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 1</h5>
                </div>
            </div>
            <!-- Contact 2 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 2</h5>
                </div>
            </div>
            <!-- Contact 3 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 3</h5>
                </div>
            </div>
            <!-- Contact 4 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 4</h5>
                </div>
            </div>
            <!-- Contact 5 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 5</h5>
                </div>
            </div>
            <!-- Contact 6 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 6</h5>
                </div>
            </div>
            <!-- Contact 7 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 7</h5>
                </div>
            </div>
            <!-- Contact 8 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 8</h5>
                </div>
            </div>
            <!-- Contact 9 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 9</h5>
                </div>
            </div>
            <!-- Contact 10 -->
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 10</h5>
                </div>
            </div>
        </div>
    </div>

</div>