<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-dark box-profile-user">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 mr-2 ml-2 mt-1">
                        <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                            alt="Foto perfil usuario">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 mt-3 ml-3">
                        <img class="icon-search" src="../../../../assets/img/icons/light/search.png"
                            alt="Icono buscar correo">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6 p-3 mt-3 ml-3">
                        <button class="bg-white border-0 p-2 rounded-lg btn-new-message" type="button">Mensaje
                            nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 bg-light box-message">

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-secondary box-contacts">
            <!-- Contact 1 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 1</h5>
                </div>
            </div>
            <!-- Contact 2 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 2</h5>
                </div>
            </div>
            <!-- Contact 3 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 3</h5>
                </div>
            </div>
            <!-- Contact 4 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 4</h5>
                </div>
            </div>
            <!-- Contact 5 -->
            <div class="row border-bottom border-light">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 5</h5>
                </div>
            </div>
            <!-- Contact 6 -->
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-3 ml-4">
                    <img class="photo-profile-user" src="../../../../assets/img/RowLend.png"
                        alt="Foto perfil usuario 1">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 p-3 mt-3 ml-3">
                    <h5>Nombre contacto 6</h5>
                </div>
            </div>
        </div>
    </div>

</div>