/* Header */

.navegador {
    background-color: #acaba8;
    padding: 0.75em;
}

.navegador>a {
    text-decoration: none;
    color: black;
}

.logo-header {
    width: 65px;
    margin-left: 1em;
}

.w-about-us {
    width: 11em;
}

.w-servicies {
    width: 7.5em;
    margin-left: 1.5em;
}

.w-contact {
    width: 8em;
}

.search {
    width: 16.5em;
}

.size-menu-text {
    font-size: 18px;
}

.btn-user {
    background-color: transparent;
    border: 0;
}

.icon-user {
    font-size: 35px;
}

/*  Footer */
.espacio{
    height: 5rem;
}
.box-footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #3e4143;
    padding-top: 1em;
    padding-bottom: 1.25em;
   
}

.logo-footer {
    width: 2.813em;
    height: 2.813em;
    margin-left: 0.75em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.m-top-menu-footer {
    margin-top: 0.75em
}

.m-left-menu-footer {
    margin-left: 2em;
}

.w-about-us-footer, .w-servicies-footer, .w-contact-footer {
    margin-right: 1.5em;
}

.mr-left-policy {
    margin-left: -24em;
}

.icon-instagram, .icon-facebook, .icon-twitter, .icon-linkedin {
    font-size: 19px;
    margin-top: 0.875em;
}

.icon-linkedin {
    margin-right: 00.5em;
}
/* 
.navbar{
    margin-bottom: 1rem;
} */

footer{
    background-color: grey;
}


.dropdown-toggle::after {
    display:none;
}
