<!-- Perfil Vendedor -->
<div class="container-fluid data-profile col-sm-12">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-9 col-xl-9 bg-secondary mt-5 mb-3 ml-5 p-2 data-service">
            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2 mb-2">
                <!-- <img src="../../../assets/img/servicies/" alt=""> -->
                <img class="w-100 h-80 mt-1 mr-4" src="../../../assets/img/RowLend.png" alt="Foto perfil vendedor">
            </div>
            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-9 col-xl-9 mt-2 mb-2">
                <h2 class="seller-name text-light">Nombre vendedor</h2>
                <p class="text-light font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                    varius lectus dolor, eget efficitur risus fringilla ac. Quisque volutpat leo varius risus convallis, eget elementum nulla sodales. Phasellus leo nulla, condimentum quis nulla quis, tempor faucibus libero. Quisque vitae
                    magna in velit pellentesque consequat eget eu ante. Vivamus ipsum arcu, feugiat et dictum eu,
                    pellentesque non neque. Donec id feugiat massa, in blandit urna. Proin quis ornare nibh, at euismod
                    massa. Etiam efficitur at sapien vitae lobortis. Pellentesque tempus congue.</p>
            </div>
        </div>
        <div
            class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 bg-secondary mt-5 mb-3 ml-4 p-2 contact-service">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
                        <img class="mt-1 ml-1 icon-phone" src="../../../assets/img/icons/light/phone.png"
                            alt="Icono teléfono">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-7 col-xl-7">
                        <p class="text-light number-phone">000 00 00 00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="espacio"></div>