<!-- Perfil Vendedor -->
<div class="container-fluid data-profile col-sm-12">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-secondary mt-5 mb-3 ml-5 p-2 data-service">
            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2 mb-2 mr-2 pt-2 pb-2">
                <!-- <img src="../../../assets/img/servicies/" alt=""> -->
                <img class="w-100 h-100 mt-1 ml-2" src="../../../assets/img/RowLend.png" alt="Foto perfil vendedor">
            </div>
            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 mt-2 mb-2">
                <h2 class="seller-name text-light">Nombre vendedor</h2>
                <p class="text-light font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque dolor neque, feugiat non facilisis non, volutpat sed neque. Interdum et malesuada fames
                    ac ante ipsum primis in faucibus. Vestibulum euismod blandit justo, eu vulputate lorem facilisis et.
                    Ut massa dui, pretium at lorem nec, vestibulum commodo nisl. Duis fermentum pharetra aliquam.
                    Integer sodales elementum ornare. Aenean et dolor ullamcorper sapien sollicitudin maximus. Nullam
                    malesuada eget mauris et gravida.
                    Nullam iaculis augue arcu, eget congue odio sagittis accumsan. Praesent tincidunt orci in neque
                    consequat, vel aliquet tortor vulputate. Curabitur lorem orci, feugiat quis dapibus id, lobortis id
                    risus.
                </p>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 bg-secondary mt-5 mb-3 ml-4 p-2 contact-service">
            <div class="container mt-4">
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1 ml-2">
                        <h4 class="info-contact">Información</h4>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1 ml-2">
                        <img class="mt-1 icon-phone" src="../../../assets/img/icons/light/phone.png"
                            alt="Icono teléfono">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p class="text-light ml-1 number-phone ">000 00 00 00</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1 ml-2">
                        <img class="mt-1 icon-mail" src="../../../assets/img/icons/light/mail.png"
                            alt="Icono email">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p class="text-light ml-1 email-address">rowlend@gmail.com</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1 ml-2">
                        <img class="mt-1 icon-mail" src="../../../assets/img/icons/light/mail.png"
                            alt="Icono localización">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2">
                        <p class="text-light ml-1 location-cities">Lorem ipsum</p>
                        <p class="text-light ml-1 location-cities">Lorem ipsum</p>
                        <p class="text-light ml-1 location-cities">Lorem ipsum</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1 ml-4 mr-1">
                        <img class="mt-1 icon-location" src="../../../assets/img/icons/light/mail.png"
                            alt="Icono localización">
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-7 col-xl-7 mt-2">
                        <p class="text-light ml-1 date-hour">Lunes, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Martes, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Miércoles, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Jueves, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Viernes, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Sábado, 00:00 - 00:00</p>
                        <p class="text-light ml-1 date-hour">Domingo, 00:00 - 00:00</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-4 ml-4 mr-1">
                        <button class="bg-dark border border-0 text-white send-message rounded-lg" type="button">Envíar mensaje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-secondary mb-3 ml-5 p-2 box-slider-vendor">

        </div>
    </div> 
    <!-- Review 1 -->
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-secondary mt-3 mb-2 ml-5 p-2 box-reviews">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1">
                        <img class="mt-1 ml-2 photo-profile-user" src="../../../assets/img/RowLend.png" alt="Foto perfil vendedor">
                    </div>
                   <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-2">
                        <h4 class="text-white">Nombre Usuario</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                        <p class="text-light font-weight-light ml-2">Nullam iaculis augue arcu, eget congue odio sagittis accumsan. Praesent tincidunt orci in neque consequat, vel aliquet tortor vulputate. Curabitur lorem orci, feugiat quis dapibus id, lobortis id. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Review 2 -->
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-secondary mt-3 mb-2 ml-5 p-2 box-reviews">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1">
                        <img class="mt-1 ml-2 photo-profile-user" src="../../../assets/img/RowLend.png" alt="Foto perfil vendedor">
                    </div>
                   <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-2">
                        <h4 class="text-white">Nombre Usuario</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                        <p class="text-light font-weight-light ml-2">Nullam iaculis augue arcu, eget congue odio sagittis accumsan. Praesent tincidunt orci in neque consequat, vel aliquet tortor vulputate. Curabitur lorem orci, feugiat quis dapibus id, lobortis id. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Review 3 -->
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-secondary mt-3 mb-2 ml-5 p-2 box-reviews">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1">
                        <img class="mt-1 ml-2 photo-profile-user" src="../../../assets/img/RowLend.png" alt="Foto perfil vendedor">
                    </div>
                   <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-2">
                        <h4 class="text-white">Nombre Usuario</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                        <p class="text-light font-weight-light ml-2">Nullam iaculis augue arcu, eget congue odio sagittis accumsan. Praesent tincidunt orci in neque consequat, vel aliquet tortor vulputate. Curabitur lorem orci, feugiat quis dapibus id, lobortis id. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="espacio"></div>
