<div class="container my-auto">

     <div class="signup-form-container  ">
          <form role="form" id="register-form" autocomplete="off" class="register-form1 aling-item-center">
               <div class="form-body">
                    <div class="row justify-content-center mt-5">
                         <div class="col-md-5">
                              <form id="register-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                   <div class="form-header">
                                        <h3 class="form-title"><i class="fa fa-user"></i> Sign Up</h3>
                                        <div class="pull-right">
                                             <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span>
                                             </h3>
                                        </div>
                                   </div>
                                   <div class="form-header">
                                        <h4 class="form-title">Informacion personal</h4>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-user"></span>
                                             </div>
                                             <label>Nombre:</label>
                                             <input class="form-control" type="text" formControlName="nombre"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-user"></span>
                                             </div>
                                             <label>Apellidos:</label>
                                             <input class="form-control" type="text" formControlName="apellidos"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-user"></span>
                                             </div>
                                             <label>Teléfono:</label>
                                             <input class="form-control" type="text" formControlName="telefono"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-envelope"></span></div>
                                             <label>Email:</label>
                                             <input class="form-control" type="text" formControlName="email"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-lock"></span>
                                             </div>
                                             <label>Password:</label>
                                             <input class="form-control" type="text" formControlName="password"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   <div class="form-group">
                                        <div class="input-group">
                                             <div class="input-group-addon"><span
                                                       class="glyphicon glyphicon-lock"></span>
                                             </div>
                                             <label>Repetir Password:</label>
                                             <input class="form-control" type="text" formControlName="rePassword"
                                                  placeholder="" required>
                                        </div>
                                        <span class="help-block" id="error"></span>
                                   </div>

                                   
                                      
                              
                              </form>
                         </div>

                    </div>
               </div>

               <div class="form-footer text-center">
                    <button type="submit" class="btn btn-info">
                         <span class="glyphicon glyphicon-log-in"></span> Registrarse
                    </button>
               </div>


          </form>

     </div>

</div>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="assets/jquery-1.11.2.min.js"></script>
<script src="assets/jquery.validate.min.js"></script>