<div class="row ml-2">
    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 mt-4 mb-2 ml-5 p-2 box-reviews">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-1 col-xl-1">
                    <img class="mt-1 ml-2 photo-profile-user" src="../../../assets/img/RowLend.png"
                        alt="Foto perfil vendedor">
                </div>
                <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-2">
                    <h4 class="">Nombre Usuario</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1 ml-1">
                    <p class="font-weight-light">Nullam iaculis augue arcu, eget congue odio sagittis
                        accumsan. Praesent tincidunt orci in neque consequat, vel aliquet tortor vulputate.
                        Curabitur lorem orci, feugiat quis dapibus id, lobortis id. </p>
                </div>
            </div>
        </div>
    </div>
</div>
