p{
    color: blue;
    margin-top: 18px;
}

button{
    border-radius: 10px;
    border: 0px;
    background-color: gray;
    color: white;
    padding: 10px;
    
}

button:hover{
    opacity: 0.8;
}