<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 offset-md-2 mt-4">
                <h1 class="display-4 justify-content-center">Preguntas frecuentes</h1>

                <h3 class="mt-4">Preguntas sobre los Medios de Pago</h3>
                <p>¿Cuáles son las formas de pago?</p>

                Cualquier compra de nuestra tienda online se puede pagar por tarjeta de crédito/débito, por
                transferencia bancaria o por Paypal

                <p>Mi tarjeta me da un error y no puedo finalizar el pago a pesar de que tengo saldo de sopa</p>

                La mayoría de transacciones denegadas son causadas por los límites de las tarjetas. Consulta con tu
                entidad bancaria para poder subir el límite diario, semanal o mensual. El segundo fallo más común es
                intentar hacer el pago con un navegador muy antiguo o desactualizado. Las pasarelas de pago bancarias
                requieren un navegador actualizado para mantener tus datos seguros en todo momento. Intenta hacer la
                compra desde otro navegador actualizado.

                <p>¿Me puedo fiar de daros los datos de mi tarjeta? Desde Foto Ruano no tenemos acceso a tus datos
                    bancarios en ningún momento.</p>

                Al entrar en el proceso de pago, se te redirecciona a la pasarela de pago segura del banco y así tus
                datos son totalmente invisibles para nosotros. Una vez realizado el pago, es el banco el que nos da la
                confirmación instantánea de que el pago se ha tramitado correctamente.

                <p> Si pago por transferencia, ¿tardaré más en recibir mi compra?</p>

                Al pagar por transferencia, el pago puede demorarse hasta 48 horas en días laborables. El envío se
                realizará en el momento en el que el dinero sea recibido en nuestra cuenta.

                <p>Si pago por PayPal, me aparece una comisión ¿Cuál es el motivo?</p>

                Paypal copa una comisión a los establecimientos muy superior al de las tarjetas de crédito. Es por ello
                que si no la copamos de forma separada, en muchos casos perderíamos dinero con la venta ya que muchas
                veces esta comisión es superior a nuestro margen. Recuerda que puedes evitar pagarla usando uno de los
                otros dos medios de pago.

                <p>¿Aceptáis American Express?</p>

                No, en estos momentos no aceptamos las tarjetas de American Express

                <p>¿Puedo financiar mi compra?</p>

                Por supuesto! Tenemos dos formas. Una más rápida, online e inmediata con la opción de financiación por
                tarjeta gracias a Sequra. También le podemos ofrecer financiación tradicional con documentación, aunque
                el plazo de gestión ya puede demorarse algunos días ya que es necesario el envío y la firma de contratos
                con la financiera.

                <h3 class="mt-4">Preguntas sobre el Envío</h3>

                <p>¿Cuánto tardará mi compra en llegar?</p>

                Cada día salen todos los pedidos que entran antes de las 13h y se entregan a las 48-72 horas
                aproximadamente.

                <p>¿Y cuánto tardará si elijo la opción de envío aéreo?</p>

                En este caso, si eliges envío urgente y haces el pedido antes de las 13h, lo recibirás en 24-48h por
                mensajería express. Ten en cuenta que sábados y domingos no hay reparto ni recogidas de las agencias de
                transporte.<br>

                <p>Necesito tener mi pedido mañana por la mañana ¿Ofrecéis el servicio?</p>

                También puedes elegir la opción de MRW12, pero este servicio tiene un precio de entre 19.95€ y 15,95€ en
                función del valor del pedido.

                <p>¿Cuál es el pedido mínimo para no pagar envío?</p>

                Todas las compras de 199€ o superiores tendrán envío estándar GRATIS. Además, las modalidades urgentes
                serán más económicas.

                <p>¿Hay productos que tienen gastos de envío más elevados? </p>

                Hay una minoría de productos que debido a su elevado pero y volumen, requieren unos gastos de envío
                mayores. En la mayoría de los casos lo asumimos nosotros, pero en ocasiones no es posible si son
                productos muy económicos. En el proceso de compra siempre podrás ver los gastos antes de finalizar tu
                pedido. Algunos ejemplos son los fondos de estudio o las maletas con kits completos de iluminación.

                <p>¿Puedo comprar online y pasar a recogerlo por la tienda?</p>

                Sin duda! Al seleccionar el medio de envío, se puede escoger la opción "Recogida en tienda" En el plazo
                inferior a dos horas te confirmaremos con un correo que tu pedido está listo para ser recogido. Solo
                necesitarás pasar con tu DNI.

                <p>¿Tienes más preguntas o no hemos resuelto tu duda? Escríbenos un mensaje!</p>

                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" routerLink="/contacto">
                                Contacto
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>

</html>