<!-- Events categories -->
<div class="container">
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 1 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-5 mr-2 mb-3">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 1">
                    <div class="card-body">
                        <h5 class="card-title">Evento 1</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 2 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-5 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 2">
                    <div class="card-body">
                        <h5 class="card-title">Evento 2</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 3 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-5 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 3">
                    <div class="card-body">
                        <h5 class="card-title">Evento 3</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 4 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2 mb-3">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 4">
                    <div class="card-body">
                        <h5 class="card-title">Evento 4</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 5 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 5">
                    <div class="card-body">
                        <h5 class="card-title">Evento 5</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 6 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 6">
                    <div class="card-body">
                        <h5 class="card-title">Evento 6</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 7 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2 mb-5">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 7">
                    <div class="card-body">
                        <h5 class="card-title">Evento 7</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 8 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2 mb-5">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 8">
                    <div class="card-body">
                        <h5 class="card-title">Evento 8</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-md-6 col-lg-4 col-xl-4">
            <!-- Event 9 -->
            <a class="btn-events" routerLink="/productos">
                <div class="card border-light bg-secondary text-white events-categories mt-4 mr-2 mb-5">
                    <img class="card-img-top" src="assets/img/eventos/" alt="Evento 9">
                    <div class="card-body">
                        <h5 class="card-title">Evento 9</h5>
                        <p class="card-text">Lorem ipsum dolor</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>