<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-8 col-xl-8 offset-md-2">
                <h1 class="display-4 justify-content-center">RowLend</h1>
                <p class="lead">Somos una empresa formada por 5 jóvenes, nace a finales de Enero del 2021 en un aula de
                    una Universidad de Catarroja (Valencia) en mitad de una pandemia, nos surge la idea de este proyecto
                    en la cual nuestro principal objetivo es dar un servicio satisfactorio tanto para el cliente como
                    para el que se promociona que al fin y al cabo es la parte mas importante para nosotros, que el que
                    se promocione le sirva como su principal herramienta de publicidad. </p>
            </div>
        </div>
    </div>
</div>