/* Feature Event Subcategory */

.btn-events:hover {
    text-decoration: none;
}

.card>img:hover {
    opacity: 0.5;
}

.events-subcategories {
    border: 0;
    margin-bottom: 1.75em;
}
.altura_minima{
    height:120px;
    overflow:hidden;
}